@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --whitecolor: white;
  --slatecolor: #434455;
  --oceancolor: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}

.logo {
  color: var(--iriscolor);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
}

.studio {
  color: var(--navyblue);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
}

.nav-menu .page {
  color: var(--navyblue);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.list {
  list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iriscolor);
}

.contacts-menu .item {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.hero-bg {
  background-color: var(--navcolor);
  width: 1440px;
  height: 600px;
}

.hero-title {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.12px;
  text-align: center;
}

.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.04em;
  background-color: var(--iriscolor);
  color: var(--whitecolor);
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-weight: 500;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
}

.title {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.description {
  color: var(--slatecolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.bg-team {
  background-color: var(--cloud);
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.72px;
  color: var(--navyblue);
}

.team li {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.position {
  color: var(--slatecolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.studio-2 {
  color: var(--whitecolor);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
}

.bg-footer {
  background-color: var(--navcolor);
  width: 1440px;
  height: 312px;
}
.footer-description {
  color: var(--whitecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.filter {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  color: var(--iriscolor);
  background-color: var(--cloud);
}

.filters .filter:hover,
.filters .filter:focus,
.filters .filter.current {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
}

.projects a {
  color: var(--navyblue);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.type {
  color: var(--slatecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
