:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --whitecolor: white;
  --slatecolor: #434455;
  --oceancolor: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --graysish: #757575;
  --darkcolor: #212121;
}

body {
  background-color: var(--whitecolor);
  color: var(--graysish);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style-type: none;
}

.logo-link {
  text-decoration: none;
  font-size: 0;
}

.logo-link > span {
  font-size: 26px;
}

.logo,
.studio {
  color: var(--iriscolor);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  display: inline-block;
}

.studio {
  color: var(--navyblue);
  font-weight: 700;
}

.nav-menu .page {
  color: var(--navyblue);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iriscolor);
}

.contacts-menu .item {
  color: var(--navyblue);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.bg-hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--whitecolor);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.button {
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
  letter-spacing: 0.03em;
}

.button.filter {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--iriscolor);
  background-color: var(--cloud);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
}

.button.primary {
  color: var(--whitecolor);
  background-color: var(--iriscolor);
}

.benefits.title {
  color: var(--navyblue);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.benefits.description {
  line-height: 1.71;
}

.bg-team {
  background-color: var(--cloud);
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--navyblue);
}

.team .name,
.team .position {
  font-size: 16px;
  line-height: 1.19;
}

.team.name {
  color: var(--darkcolor);
  font-weight: 500;
}

.studio-2 {
  color: var(--whitecolor);
  font-weight: 800;
}

.bg-footer {
  background-color: var(--navyblue);
}
.footer-description {
  color: var(--whitecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
}

.project {
  text-decoration: none;
}

.project.name {
  color: var(--darkcolor);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .type {
  color: var(--slatecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}
